<form [formGroup]="formDemande">
    <div class="form-group">
      <label>Date Début</label>
      <input type="date" class="form-control" formControlName="dateDebut">
      <div *ngIf="formDemande.get('dateDebut').invalid &&  formDemande.get('dateDebut').errors && 
      (formDemande.get('dateDebut').dirty || formDemande.get('dateDebut').touched)">
      <small class="text-danger" *ngIf="formDemande.get('dateDebut').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>
    <div class="form-group">
      <label>Date Fin</label>
      <input type="date" class="form-control" formControlName="dateFin">
      <div *ngIf="formDemande.get('dateFin').invalid &&  formDemande.get('dateFin').errors && 
      (formDemande.get('dateFin').dirty || formDemande.get('dateFin').touched)">
      <small class="text-danger" *ngIf="formDemande.get('dateFin').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>

    <div class="form-group">
      <label>Type Congé</label>
      <input type="text" class="form-control" placeholder="Type de congé" formControlName="congeType">
      <div *ngIf="formDemande.get('congeType').invalid &&  formDemande.get('congeType').errors && 
      (formDemande.get('congeType').dirty || formDemande.get('congeType').touched)">
      <small class="text-danger" *ngIf="formDemande.get('congeType').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>

    <div class="form-group">
      <label>Emp Name</label>
      <input type="text" class="form-control" placeholder="Employée" formControlName="empName">
      <div *ngIf="formDemande.get('empName').invalid &&  formDemande.get('empName').errors && 
      (formDemande.get('empName').dirty || formDemande.get('empName').touched)">
      <small class="text-danger" *ngIf="formDemande.get('dateFin').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>

    <div class="form-group">
      <label>Commentaire</label>
      <input type="text" class="form-control"  placeholder="Commentaire" formControlName="comment">
      <div *ngIf="formDemande.get('comment').invalid &&  formDemande.get('comment').errors && 
      (formDemande.get('comment').dirty || formDemande.get('comment').touched)">
      <small class="text-danger" *ngIf="formDemande.get('comment').hasError('required')">
        Ce champ est requis.
      </small>
      <small class="text-danger" *ngIf="formDemande.get('comment').hasError('minlength')">
        Le commentaire doit comporter au moins 5 caractères.
      </small>
      </div>
    </div>

    <div class="form-button">
        <button (click)="SaveDemande()" type="button" class="btn btn-primary"  [disabled]="!formDemande.valid">Submit</button>
    </div>
    
  </form>