<form [formGroup]="formDemande">
    <div class="form-group">
      <label>Date Début</label>
      <input type="date" class="form-control" formControlName="dateDebut" min="{{this.date}}">
      <div *ngIf="formDemande.get('dateDebut').invalid &&  formDemande.get('dateDebut').errors && 
      (formDemande.get('dateDebut').dirty || formDemande.get('dateDebut').touched)">
      <small class="text-danger" *ngIf="formDemande.get('dateDebut').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>
    <div class="form-group">
      <label>Date Fin</label>
      <input type="date" class="form-control" formControlName="dateFin">
      <div *ngIf="formDemande.get('dateFin').invalid &&  formDemande.get('dateFin').errors && 
      (formDemande.get('dateFin').dirty || formDemande.get('dateFin').touched)">
      <small class="text-danger" *ngIf="formDemande.get('dateFin').hasError('required')">
        Ce champ est requis.
      </small>
      </div>
    </div>

    <div class="form-group">
      <label>Commentaire</label>
      <input type="text" class="form-control"  placeholder="Commentaire" formControlName="commentaire">
      <div *ngIf="formDemande.get('commentaire').invalid &&  formDemande.get('commentaire').errors && 
      (formDemande.get('commentaire').dirty || formDemande.get('commentaire').touched)">
      <small class="text-danger" *ngIf="formDemande.get('commentaire').hasError('required')">
        Ce champ est requis.
      </small>
      <small class="text-danger" *ngIf="formDemande.get('commentaire').hasError('minlength')">
        Le commentaire doit comporter au moins 5 caractères.
      </small>
      </div>
    </div>

    <div class="form-button">
        <button (click)="SaveDemande()" type="button" class="btn btn-primary"  [disabled]="!formDemande.valid">Submit</button>
    </div>
    
  </form>