<div class="container">
    <div class="row">
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Date Debut</th>
                    <th scope="col">Date Fin</th>
                    <th scope="col">employee</th>
                    <th scope="col">Type Congé</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Valider/Annuler</th>

                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of Datas" >
                        <td scope="row">{{data.taskData.DateDebut}}</td>
                        <td scope="row">{{data.taskData.DateFin}}</td>
                        <td scope="row">{{data.taskData.username}}</td>
                        <td scope="row">{{data.taskData.Typeconge}}</td>
                        <td scope="row">{{data.taskData.Commentaire}}</td>
                        <td>
                            <i class="fa fa-check" aria-hidden="true" (click)="managerValidate(data.taskId,data.taskData.username)"></i>
                            <i class="fa fa-times" aria-hidden="true" (click)="managerAnnuler(data.taskId,data.taskData.username)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>