/* ::ng-deep #liste {
    position: relative;
    left: 7%;
} */

::ng-deep .jumbotron{
    background-color:white 
}

.fa-check{
    color:green
}

.fa-times {
    color:red;
    position: relative;
    left: 20%;
}