::ng-deep .jumbotron {
    margin: 0;
    height: 100%;
    padding: 0;
}

::ng-deep a.listeMng {
    position: relative;
    left: 7%;
}

::ng-deep a.listeHr {
    position: relative;
    left: 17%;
}

::ng-deep a.processus {
    position: relative;
    left: 50%;
}

::ng-deep a.listDemande {
    position: relative;
    left: 40%;
}

::ng-deep a.Demande {
    position: relative;
    left: 66%;
}

::ng-deep .btn-logout {
    background-color: transparent;
    border: none;
    color: #99D7F8;

}

::ng-deep .logout {
    color: #99D7F8;

}

::ng-deep .navbar-dark .navbar-nav .nav-link {
    color: #99D7F8;

}

::ng-deep .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #99D7F8;

}

::ng-deep a {
    color: #99D7F8;
}

::ng-deep a:hover {
    color: #99D7F8;
}
