<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">AppCongés</a>
  <div class="collapse navbar-collapse" id="navbarNav">
  <!-- Links -->
  <ul class="navbar-nav  mr-auto">
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li> -->
    <li class="nav-item">
      <a routerLink="/Demande-Conge-Component" routerLinkActive="active">Demande de congé</a>
    </li>

    <li class="nav-item">
      <a routerLink="/Liste-Conge-Component" class= "liste" routerLinkActive="active">Liste de congé Mng</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li> -->
  </ul>
  </div>
</nav>

<div class="jumbotron">
  <router-outlet></router-outlet>
</div>