::ng-deep .jumbotron {
    margin: 0;
    height: 100%;
    padding: 0;
}

::ng-deep a.listeMng {
    position: relative;
    left: 15%;
}

::ng-deep a.listeHr {
    position: relative;
    left: 30%;
}
